<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1>
          <span class="text-primary">
            <i class="fas fa-lock"></i> Client Panel</span
          >
          Login
        </h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              [(ngModel)]="email"
              required
              autocomplete="username"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
              autocomplete="current-password"
            />
          </div>

          <button type="submit" class="btn btn-primary mt-2">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
